<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found!</title>
    <link href="css/error.css">
    <link rel="icon" href="https://media.tenor.com/images/bebae0cf0d294c6c98445c8c890cd4d0/tenor.gif">
</head>
<body>
    <h1>Sorry! Something Went Wrong. <a href="/">Go To Home</a></h1>
    <img src="https://i.pinimg.com/originals/cf/37/f3/cf37f3f0cf9dd8b13443fa86ea136c45.gif" alt="404 page" srcset="">
</body>
</html>