<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="icon"
      href="https://media.tenor.com/images/bebae0cf0d294c6c98445c8c890cd4d0/tenor.gif"
    />

    <script
      src="https://kit.fontawesome.com/599a9a29b7.js"
      crossorigin="anonymous"
    ></script>
    <title>Byte Call</title>
  </head>

  <body>
    <div class="nav">
      <div class="left">
        <h2><u>Byte</u>Call</h2>
      </div>
      <div class="right">
        <h4 id="datetime"></h4>
      </div>
    </div>
    <div class="mainBody">
      <h1><u>Byte</u> Call</h1>
      <p>
        End-to-End Encrypted Video Meetings.<br />
        <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "Its free for Everyone!", "Easy to Use!", "Its for Unlimited User!" ]'
        ></span>
      </p>
      <div class="form">
        <div class="meetNew">
          <div class="name">
            <i class="fas fa-signature"></i>
            <input
              type="text"
              id="nameInput"
              placeholder="Enter Your Name"
              required
            />
          </div>
          <div class="newMeetBtn">
            <p onclick="create_UUID()">
              <i class="fas fa-video"></i>Start Meeting
            </p>
          </div>
        </div>
        <br />
        <div class="meetJoin">
          <div class="linkorid">
            <i class="fas fa-keyboard"></i>
            <input type="text" placeholder="Enter Meeting ID" id="linkorid" />
          </div>
          <div class="meetJoinBtn">
            <p onclick="join_meeting()">Join Meeting</p>
          </div>
        </div>
      </div>
      <div class="hr"></div>
      <p id="footer">
        Made with 💓 by
        <a id="fname" target="_blank" href="https://sunanda35.github.io/"
          >Sunanda.
        </a>
        <a id="linkdin" href="https://www.linkedin.com/in/sunanda35/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a id="github" href="https://github.com/sunanda35"
          ><i class="fab fa-github"></i
        ></a>
      </p>
    </div>
  </body>
  <script></script>
  <script type="text/javascript" src="js/index.js"></script>
</html>
