*{
    margin: 0;
    border: 0;
    font-family: "Sen", sans-serif;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* got from stack overflow */
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.nav{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    display: -webkit-flex;
    justify-content: space-between;
}
.navLeft{
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.navLeft > h2 > u{
    text-decoration: underline;
    text-decoration-color: green;
    color: #787B7F;
}
.navLeft > h2{
    text-align: center;
    color: #1C635A;
}
.navMid{
    margin-top: auto;
    margin-bottom: auto;

}
.navMid > p{
    font-size: larger;
    font-weight: bolder;
}
.navMid > p> u{
    font-size: large;
    font-weight: lighter;
    padding: 6px;
    background-color: rgb(172, 206, 206);
    border-radius: 6px;
    cursor: pointer;
    color: blue;
}
.navRight{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.navRight >a{
    text-decoration: none;
}
i{
    font-size: 2rem;
    margin-right: 10px;
}
#linkdin{
    color: rgb(0, 23, 230);
}
#github{
    color: black;
}

.mainBody{
    height: 100vh;
    width: 100%;
    display: flex;
}


#videoData{
    height: auto;
    width: 500px;
    border: 2px solid green;
}
#url{
    user-select: text;
}


.chat{
    width: 25%;
    height: 100vh;
    justify-content: space-around;
    background-color: rgb(194, 194, 194);
    padding: 3px;
    z-index: 50000000;
}
.leave{
    background-color: #1c635a;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.leave > h3{
    text-align: center;
    font-size: 2rem;
    color: white;
}
.msg_container{
    height: 87vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.message{
    padding: 3px;
    border-radius: 4px;
    background-color: rgb(190, 190, 190);
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}
.message > p{
    font-size: small;
    margin: auto;
    color: rgb(77, 77, 77);
}
.message_incomming{
    padding: 10px;
    min-width: 20%;
    max-width: 60%;
    overflow-wrap: break-word;
    background-color: #fbcffc;
    border-radius: 0 8px 4px 8px;
    justify-content: left;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 6px;
}
.message_outgoing{
    padding: 10px;
    min-width: 20%;
    max-width: 60%;
    overflow-wrap: break-word;
    background-color: #be79df;
    border-radius: 8px 0 8px 4px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 6px;
}
.message_outgoing > p{
    color: rgb(255, 255, 255);
}
.message_outgoing >h6{
    color: rgb(66, 66, 66);
}

.send{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: rgb(88, 88, 88);
    display: flex;
}
#message{
    background-color: white;
    width: 22.7%;
}
#button{
    font-size: 30px;
    color: rgb(255, 196, 0);
    background-color: rgb(83, 83, 83);
    cursor: pointer;
    margin-right: 0;
}